<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="messageBoardPage">
    <h1><%= title %></h1>
    <ul class="indexUnorderList">
        <% messages.map((item, index) => { %>
            <a class="reset-a" href="/messageDetails/<%= messages[index].username %>/<%= index %>">
                <li class="messageContainer">
                    <h3 class="usernameHeader"><%= messages[index].username %></h3>
                    <pre class="messageUser"><%= messages[index].message %></pre>
                    <p><%= messages[index].date %></p>
                    <form action="/messageDetails/<%= messages[index].username %>/<%= index %>" method="GET" >
                        <button type="submit" class="openMessageDetails">Open Message Details</button>
                    </form>
                </li>
            </a>
      <%  }) %>
    </ul>
    <a href="/new"><button class="sendNewMessageBtn">Send New Message</button></a>
</body>
</html>