<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% messages.map((item, index) => { %>
            <li>
                <h3><%= messages[index].user %></h3>
                <p><%= messages[index].text %></p>
                <p><%= messages[index].added %></p>
                <a href="#"><button>Open Message Details</button></a>
            </li>
      <%  }) %>
    </ul>
    <a href="http://localhost:3000/new"><button>Send New Message</button></a>
</body>
</html>